language: go
sudo: required
go:
    - "1.9"

env:
  global:
    - CUDA_VERSION="10.0"
    - CUDA_PKG_VERSION="130-1"
    - CUDA_PKG=cuda-repo-ubuntu1404_${CUDA_VERSION}.${CUDA_PKG_VERSION}_amd64.deb
    - CUDA_LIB_LOCAL=${HOME}/cuda_lib_${CUDA_VERSION}
    - CUDA_HOME=${CUDA_LIB_LOCAL}
    - PATH=${CUDA_HOME}/bin:${GOPATH}/bin:${CUDA_HOME}/nvvm/bin:${PATH}
    - LD_LIBRARY_PATH=${CUDA_HOME}/lib64:${TRAVIS_HOME}/gopath/src/github.com/uber/aresdb/lib
    - NVCCFLAGS="-ldir ${CUDA_HOME}/nvvm/libdevice -noprof -I ${CUDA_HOME}/include/ -L ${CUDA_HOME}/lib64"
    - PKG_CONFIG_PATH=${LD_LIBRARY_PATH}/pkgconfig:${PKG_CONFIG_PATH}
    - COMPILER_NAME=gcc CXX=g++-6 CC=gcc-6

addons:
  apt:
    packages:
      - g++-6
    sources:
      - llvm-toolchain-precise-3.8
      - ubuntu-toolchain-r-test

cache:
  directories:
    - lib
    - gtest
    - $CUDA_LIB_LOCAL

# safelist
branches:
  only:
    - master
install:
  - rm -rf ./build && mkdir -p build
  - .travis/install_clang_tools.sh
  - .travis/install_cuda.sh
  - ./build/cmake/bin/cmake .
  - .travis/install_golang_tools.sh
script:
  - make lint
  - make travis
after_success:
  # generate coverage output file
  - gover . coverage.txt
  # send to codecov.io
  - bash <(curl -s https://codecov.io/bash)
after_script:
  - .travis/cleanup.sh
